@import "config";
@import "style.scss";
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../images/background.jpg");
	min-height: 100vh;
	font-family: "VT323", monospace;
	color: rgb(43, 43, 43);
	&::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: -1;
		background-color: rgba(255, 255, 255, 0.5);
	}
	.pokedexContainer {
		display: flex;
		position: relative;
		justify-content: center;
		height: 47vw;
		.pokemonImg {
			width: 20%;
			position: absolute;
			left: 19.5%;
			top: 35%;
		}
		#id {
			@include position(absolute, 17.5%, 12%);
			width: 5.5%;
			font-size: 2vw;
			text-align: center;
			&::before {
				content: "#";
			}
		}
		#name {
			@include position(absolute, 77%, 13%);
			@include size(13%, 5.5%);
			text-align: center;
			font-size: 2.3vw;
		}
		.sizes {
			@include position(absolute, 73%, 54.7%);
			@include size(32%, 5%);
			color: white;
			display: flex;
			justify-content: start;
			font-size: 1.65vw;

			label {
				font-size: 2.1vw;
			}
			#height {
				margin-left: 12%;
			}
			#weight {
				width: 45%;
			}
		}
		#nextPage {
			@include position(absolute, 77.8%, 42.6%);
			@include size(3%, 4%);
			border: none;
			border-radius: 7px;
			transition: 0.2s;
			&:hover {
				background: rgba(255, 255, 255, 0.1);
				box-shadow: 1px 1px 15px rgba(0, 0, 160, 0.6);
			}
		}
		#prevPage {
			@include position(absolute, 77.8%, 38.3%);
			@include size(3%, 4%);
			border: none;
			border-radius: 7px;
			transition: 0.2s;

			&:hover {
				background: rgba(255, 255, 255, 0.1);
				box-shadow: 1px 1px 15px rgba(0, 0, 160, 0.6);
			}
		}
		.types {
			position: absolute;
			display: flex;
			justify-content: flex-start;
			width: 15.5%;
			height: 7%;
			bottom: 33.5%;
			right: 31%;

			.type {
				width: 40%;
				height: 70%;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 10px;
				font-size: 1.4vw;
				margin-left: 6.5%;
			}
		}
	}
}
