@import "config";

body {
	display: flex;
	background-image: url("../images/background.jpg");
	&::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: -1;
		background-color: rgba(255, 255, 255, 0.5);
	}
}

.container {
	@include flex(column, flex-start, center);
	background-color: rgba(255, 255, 255, 0.9);
	width: 90%;
	max-width: 1400px;
	min-height: 100vh;
	margin: 0 auto;
}

// =================================================================
// Header
// =================================================================

header {
	@include flex(row, space-between, center);
	background-color: black;
	width: 100%;
	text-align: center;
	padding: 1em 3em;
	h1 {
		margin-right: 0.4em;
		font-size: 6rem;
		color: white;
		cursor: pointer;
	}
	.search-container {
		@include flex(row, space-between, center);
		background-color: lightgray;
		font-size: 1.4rem;
		border-radius: 0.3em;
		overflow: hidden;
		// width: 100%;
		// max-width: 400px;
		#search-box {
			background-color: transparent;
			border: 0;
			width: 100%;
		}
		#search-button {
			border: 0;
			color: white;
			background-color: gray;
			transition: background-color 0.2s;
			&:hover {
				background-color: darken(gray, 10%);
			}
		}
	}
}

// =================================================================
// Filter, Sort, Loader and Not Found
// =================================================================

.filterContainer {
	@include flex(row, space-evenly, center);
	position: sticky;
	top: 15px;
	margin-top: 1em;
	padding: 0.5em;
	width: 90%;
	z-index: 1;
	background: rgba(102, 102, 102, 0.7);
	border-radius: 35px;
	#samePokemon {
		border-radius: 10px;
		background: rgba(255, 255, 255, 0.83);
		border: none;
		font-weight: 600;
		margin-left: 20px;
	}
	.same {
		box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.7);
	}
	label {
		margin-left: 20px;
		font-weight: 700;
		font-size: 1.2rem;
	}
	#sort {
		margin-left: 5px;
		border: none;
		outline: none;
		border-radius: 10px;
		background: rgba(255, 255, 255, 0.83);
	}

	.filters {
		@include flex(row, flex-start, center);
		width: 50%;
		label {
			font-weight: 600;
			font-size: 1.2rem;
		}
		#types {
			margin-left: 15px;
			border: none;
			outline: none;
			border-radius: 10px;
			background: rgba(255, 255, 255, 0.83);
		}
		option {
			border-radius: 10px;
			&:hover {
				background: rgba(255, 255, 255, 1);
			}
		}
		#types2 {
			margin-left: 15px;
			border: none;
			outline: none;
			border-radius: 10px;
			background: rgba(255, 255, 255, 0.8);
		}
		::-webkit-scrollbar {
			width: 10px;
			&-track {
				background: rgb(180, 180, 180);
				border-radius: 5px;
			}
			&-thumb {
				background: rgb(210, 210, 210);
				border-radius: 5px;
			}
		}
	}
}

#loader {
	display: none;
	&.active {
		@include flex(row, center, center);
		height: 400px;
	}
	.circle {
		height: 25px;
		width: 25px;
		background-color: rgb(0, 0, 0);
		border-radius: 50%;
		margin: 0 0.2em;
		animation: load 1s ease-in-out infinite;
		&:nth-of-type(2) {
			animation-delay: 0.1s;
		}
		&:nth-of-type(3) {
			animation-delay: 0.2s;
		}
		&:nth-of-type(4) {
			animation-delay: 0.3s;
		}
		&:nth-of-type(5) {
			animation-delay: 0.4s;
		}
	}
}

@keyframes load {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(-40px);
	}
	60%,
	100% {
		transform: translateY(0);
	}
}

#not-found {
	display: none;
	font-size: 2.5rem;
	margin: 2em 0;
	&.active {
		display: block;
	}
}

// =================================================================
// Cards
// =================================================================

.cards-container {
	@include flex(row, center, center);
	flex-wrap: wrap;
	padding: 2em 1em;
}

.card {
	cursor: pointer;
	font-size: 1.5rem;
	width: 210px;
	padding: 1em;
	margin: 1em;
	background-color: rgb(235, 235, 235);
	border-radius: 0.6rem;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 11px 4px;
	transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
	img {
		width: 100%;
	}
	&:hover {
		background-color: lighten(rgb(235, 235, 235), 10%);
		transform: scale(1.04);
		box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 11px 4px;
	}
}

.pokemon-title {
	@include flex(row, center, center);
	margin-bottom: 0.3em;
	.name {
		text-transform: capitalize;
	}
	.id {
		font-size: 1.3rem;
		margin-left: 0.4em;
		color: gray;
		&::before {
			content: "#";
		}
	}
}

.types {
	@include flex(row, space-evenly, center);
	flex-wrap: wrap;
	font-size: 1rem;
	span {
		text-transform: capitalize;
		color: white;
		padding: 0.3em 0.6em;
		border-radius: 0.3em;
	}
}

// =================================================================
// Media Query

@media only screen and (max-width: 900px) {
	header {
		h1 {
			font-size: 5rem;
		}
	}
	.card {
		font-size: 1.2rem;
		width: 170px;
		padding: 0.8em;
		margin: 0.8em;
	}
	.pokemon-title .id {
		font-size: 1rem;
	}
	.types {
		font-size: 0.8rem;
	}
}

@media only screen and (max-width: 740px) {
	header {
		padding: 1em;
		h1 {
			font-size: 3rem;
		}
		.search-container {
			font-size: 1rem;
		}
	}
	.card {
		font-size: 0.9rem;
		width: 125px;
	}
	.pokemon-title .id {
		font-size: 0.7rem;
	}
	.types {
		font-size: 0.65rem;
	}
}

@media only screen and (max-width: 540px) {
	.container {
		width: 100%;
		background-color: rgba(255, 255, 255, 0.6);
	}
	.cards-container {
		padding: 1em 0.5em;
	}
}

@media only screen and (max-width: 460px) {
	header {
		padding: 0.6em;
		h1 {
			font-size: 1.9rem;
		}
		.search-container {
			font-size: 0.9rem;
		}
	}
	.card {
		font-size: 0.7rem;
		width: 90px;
		padding: 0.6em;
		margin: 0.6em;
	}
	.pokemon-title .id {
		font-size: 0.5rem;
	}
	.types {
		font-size: 0.45rem;
	}
}

// =================================================================
// Scrollbar

::-webkit-scrollbar {
	width: 17px;
	display: block;
}
::-webkit-scrollbar-track {
	background: rgb(209, 209, 209);
}
::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.404);
}

// =================================================================
// Pokemon Types

.fire {
	background-color: #ff4422;
	border: 2px solid darken(#ff4422, 10%);
}
.grass {
	background-color: #77cc55;
	border: 2px solid darken(#77cc55, 10%);
}
.poison {
	background-color: #aa5599;
	border: 2px solid darken(#aa5599, 10%);
}
.water {
	background-color: #3399ff;
	border: 2px solid darken(#3399ff, 10%);
}
.ice {
	background-color: #66ccff;
	border: 2px solid darken(#66ccff, 10%);
}
.flying {
	background-color: #8899ff;
	border: 2px solid darken(#8899ff, 10%);
}
.dragon {
	background-color: #7766ee;
	border: 2px solid darken(#7766ee, 10%);
}
.bug {
	background-color: #aabb22;
	border: 2px solid darken(#aabb22, 10%);
}
.normal {
	background-color: #aaaa99;
	border: 2px solid darken(#aaaa99, 10%);
}
.fighting {
	background-color: #bb5544;
	border: 2px solid darken(#bb5544, 10%);
}
.dark {
	background-color: #775544;
	border: 2px solid darken(#775544, 10%);
}
.electric {
	background-color: #ffcc33;
	border: 2px solid darken(#ffcc33, 10%);
}
.psychic {
	background-color: #ff5599;
	border: 2px solid darken(#ff5599, 10%);
}
.steel {
	background-color: #aaaabb;
	border: 2px solid darken(#aaaabb, 10%);
}
.fairy {
	background-color: #ee99ee;
	border: 2px solid darken(#ee99ee, 10%);
}
.rock {
	background-color: #bbaa66;
	border: 2px solid darken(#bbaa66, 10%);
}
.ghost {
	background-color: #6666bb;
	border: 2px solid darken(#6666bb, 10%);
}
.ground {
	background-color: #ddbb55;
	border: 2px solid darken(#ddbb55, 10%);
}
