@import "config";

body {
	font-family: "Lato", sans-serif;
	background-image: url("../images/background.jpg");
	&::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: -1;
		background-color: rgba(255, 255, 255, 0.5);
	}
}

.container {
	@include flex(column, flex-start, center);
	background-color: rgba(255, 255, 255, 0.95);
	width: 90%;
	max-width: 1400px;
	margin: 0 auto;
	z-index: 1;
}

// =================================================================
// Header
// =================================================================

header {
	@include flex(row, space-between, center);
	background-color: black;
	width: 100%;
	text-align: center;
	font-size: 2rem;
	padding: 1em 3em;
	h1 {
		font-size: 6rem;
		color: white;
		cursor: pointer;
	}

	.search-area {
		#search-button {
			border: 0;
			color: white;
		}
	}
}

// =================================================================
// Cards
// =================================================================

.cards-container {
	@include flex(row, center, center);
	flex-wrap: wrap;
	width: 90%;
	padding: 2em 0;
}

.loader {
	display: none;
}

.loader.active {
	@include flex(row, center, center);
	height: 400px;
}

@keyframes load {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(-40px);
	}
	60%,
	100% {
		transform: translateY(0);
	}
}

.circle {
	height: 25px;
	width: 25px;
	background-color: rgb(0, 0, 0);
	border-radius: 50%;
	margin: 0 0.2em;
	animation: load 1s ease-in-out infinite;
	&:nth-of-type(2) {
		animation-delay: 0.1s;
	}
	&:nth-of-type(3) {
		animation-delay: 0.2s;
	}
	&:nth-of-type(4) {
		animation-delay: 0.3s;
	}
	&:nth-of-type(5) {
		animation-delay: 0.4s;
	}
}

// .loader {
// 	width: 200px;
// 	height: 200px;
// 	border-radius: 50%;
// 	border: 20px solid gray;
// 	border-top-color: black;
// }

.card {
	cursor: pointer;
	font-size: 1.5rem;
	width: 200px;
	padding: 1em;
	margin: 1em;
	background-color: rgb(235, 235, 235);
	border-radius: 0.6rem;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 11px 4px;
	transition: 0.3s;
	img {
		width: 100%;
	}
	&:hover {
		background-color: lighten(rgb(235, 235, 235), 10%);
		transform: scale(1.04);
		box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 11px 4px;
	}
}

.pokemon-title {
	@include flex(row, center, center);
	.name {
		text-transform: capitalize;
	}
	.id {
		font-size: 1.3rem;
		margin-left: 0.5em;
		color: gray;
		&::before {
			content: "#";
		}
	}
}

// =================================================================
